.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 .line{
    height: 75vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-block: 75px;


}

.section2 .line > img{

    height: 100%;
    object-fit: contain;
}
.section2 .line >div{
    width: 28%;
}
.section2 .line .bloc{
background: rgba(252, 249, 247, 0.33);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: fit-content;
}