@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: "camptonBook";
    src: url("../campton/CamptonBook.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root {
--white : #FFFDF7
}

body {
    position: relative;
    z-index: -3;

overflow-x: hidden;

    font-family: "camptonBook", "Nunito", sans-serif;

    background: var(--white);

    min-height: 100vh;
    width: 100%;


    margin: 0;
    padding: 0;
    /*padding-inline: 62px;*/
    padding-inline: 5%;

    box-sizing: border-box;
}

h1 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 98px;

    margin: 0;
}
h2 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 78px;

    margin: 0;

}

a{
    text-decoration: none;
    color: black;
}

/*=======================    NAVBAR     ==============*/

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;

}