@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: "camptonBook";
    src: url("../campton/CamptonBook.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --white: #FFFDF7;
    --text: #3B364F;
    --titre:  #09021B;
}

body {
    position: relative;
    z-index: -3;

    overflow-x: hidden;

    font-family: "camptonBook", "Nunito", sans-serif;

    background: var(--white);

    height: fit-content;
    width: 100%;

    font-size: 16px;
    color: var(--text);

    margin: 0;
    padding: 0;
    /*padding-inline: 62px;*/
    padding-inline: 5%;
    padding-bottom: 36px;

    box-sizing: border-box;
}

h1 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 98px;
color: var(--titre);
    margin: 0;
}

h2 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;

    color: var(--titre);

    margin: 0;

    margin-bottom: 20px;

}

h3 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;

    color: var(--titre);
    margin: 0;

}h4 {
     font-weight: 400;
    font-style: normal;
    font-size: 24px;

     color: var(--titre);
    margin: 0;

}

a {
    text-decoration: none;
 color: var(--text);
}

/*=======================    NAVBAR     ==============*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;

}